.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-error-message {
  color: #f44336;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-error-message-server {
  text-align: center;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-register-link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.15rem;
}
.form-register-link:hover {
  color: #1a63d9;
  text-decoration: underline;
}

.form-submit-wrapper {
  display: flex;
  justify-content: center;
}

.form-submit-button {
  font-size: 16px !important;
  --p-button-padding-y: 0.85rem;
  --p-button-padding-x: 2.85rem;
}
::ng-deep .p-inputtext {
  flex: 1;
}

::ng-deep .p-checkbox-box.p-highlight {
  border-color: #1976d2 !important;
  background-color: #1976d2 !important;
}

::ng-deep .p-inputtext {
  font-size: 16px !important;
  --p-inputtext-padding-x: 0.85rem;
  --p-inputtext-padding-y: 0.85rem;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.15rem;
}
